body {
  display: flex;
  align-items: center;
  justify-content: center;
}
.concaveLogo {
  width: 20px;
  height: 20px;
  border: 2px solid black;
  border-radius: 50%;
  border-bottom-color: transparent;
  border-left-color: transparent;
  transform: rotate(-20deg);
}
.convexLogo {
  width: 20px;
  height: 20px;
  border: 2px solid black;
  border-radius: 50%;
  /* Halve the circle */
  border-bottom-color: transparent;
  border-left-color: transparent;
  transform: rotate(100deg);
}
.nav-content span:hover .tooltip {
  display: block;
  opacity: 1;
  transform: translateY(0);
}

#myCanvas {
  border: solid 1px;
  height: 100%;
  width: 100%;
  border-color: rgb(11, 11, 11);

  /* Grid Koordinat */
  background: #ffffff;
  background-image: linear-gradient(rgba(0, 0, 0, 0.1) 0.1em, transparent 0.1em),
    linear-gradient(90deg, rgba(0, 0, 0, 0.1) 0.1em, transparent 0.1em);
  background-size: 2.37em 2.38em;
}

.inputs {
  width: 95%;
  height: 20px;
  padding: 0px;
  color: azure;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 5px;
  background: rgba(46, 56, 64);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2.8px);
  -webkit-backdrop-filter: blur(2.8px);
  border: 1px solid rgba(13, 91, 255, 0.22);
}

.inputs div {
  display: flex;
  justify-items: center;
  align-items: center;
  margin: 0px 10px;
}

.inputs div input {
  margin: 0px 10px;
}
.judul {
  position: absolute;
  display: grid;
  place-items: center;
  top: 0%;
}
.judul p {
  font-size: 30px;
}

.dock {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 10px;
}

.dock div {
  background-color: azure;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 10px;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  -webkit-box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.75);
  transition: font-size 0.3s ease; /* Smooth transition for font-size */
}

.dock div:hover {
  font-size: large;
}

.objectSelect {
  background-color: transparent;
  color: white;
  border: none;
}

.objectSelect option {
  background-color: rgba(46, 56, 64);
  border: none;
}
